@import "tailwindcss";

:root {
  --background: #ffffff;
  --stroke: #efefef;
  --primary: #8b9af6;
  --primary-light: #fcfaff;
  --text-primary: #676767;
  --text-secondary: #9f9f9f;
  --secondary: #cecece;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-stroke: var(--stroke);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins);
  --font-display: var(--font-protest-riot);
}

/* Base body styles */
body {
  background: var(--background);
  border-color: var(--stroke);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-poppins {
  font-family: var(--font-poppins);
}
.font-protest-riot {
  font-family: var(--font-protest-riot);
}
/* .gradient-text {
  background: linear-gradient(90deg, #8b9af6 44%, #316d8a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
} */
.custom-shadow {
  box-shadow: 0px 0px 5px 0px #00000033;
}
.gradient-btn {
  position: relative;
  background: transparent;
  border-radius: 9999px;
  padding: 0.5rem 20px;
  border: 0.5px solid transparent;
  background-clip: padding-box;
}

.gradient-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 1.5px;
  background: linear-gradient(90deg, #007ebb 0%, #54bdf0 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.gradient-text {
  background: linear-gradient(90deg, #007ebb 0%, #54bdf0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
