@import "tailwindcss";

:root {
  --background: #ffffff;
  --stroke: #efefef;
  --primary: #8b9af6;
  --primary-light: #fcfaff;
  --text-primary: #676767;
  --text-secondary: #9f9f9f;
  --secondary: #cecece;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-stroke: var(--stroke);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins);
  --font-display: var(--font-protest-riot);
}

/* Base body styles */
body {
  background: var(--background);
  border-color: var(--stroke);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-poppins {
  font-family: var(--font-poppins);
}
.font-protest-riot {
  font-family: var(--font-protest-riot);
}
.gradient-text {
  background: linear-gradient(90deg, #8b9af6 44%, #316d8a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
